<h2 mat-dialog-title>Create a new Ticket</h2>
<mat-dialog-content class="mat-typography">
  <h3>Thanks for your interest in creating a new ticket with us.</h3>
  <p>Submit a new ticket for one of our expert Technicians below, and we will address your issue as soon as possible.  </p>
    <label for="Description">Description:  </label>
    <input size ="75" id="Description" type="text" [(ngModel)]="description">

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click) = "createTicket()" [mat-dialog-close]="true" cdkFocusInitial>Submit Ticket</button>
</mat-dialog-actions>
