
<div class="grid-container">
  <div class="ticketsTable">
    
    
<button mat-raised-button color="accent" (click)="refreshTickets()">Refresh Tickets</button>
<div class="data-table mat-elevation-z8" >
<table mat-table [dataSource]="dataSource" matSort>

<ng-container matColumnDef="ticketId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket ID</th>
    <td mat-cell *matCellDef="let ticket">{{ticket.ticketId}}</td>
</ng-container>

<ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let ticket">{{ticket.description}}</td>
</ng-container>

<ng-container matColumnDef="epochStart">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Submitted</th>
    <td mat-cell *matCellDef="let ticket">{{ticket.epochStart | date:'shortDate'}}</td>
</ng-container>

<ng-container matColumnDef="epochEnd">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Completed</th>
    <td mat-cell *matCellDef="let ticket">
        <div *ngIf="ticket.epochEnd>0; else elseBlock">
            {{ticket.epochEnd | date:'shortDate'}}
          </div>
          <ng-template #elseBlock>
            Pending
          </ng-template></td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns" class = "pointer" (click) = "getTicket(row.ticketId)"></tr>

</table>
</div>
</div>
<!-- <table>


<table>


    <thead><th>ID</th><th>Description</th><th>Date Submitted</th><th>Date Completed</th></thead>
<tbody>
    <tr *ngFor="let ticket of tickets">

        <td>{{ticket.ticketId}}</td>
        <td>{{ticket.description}}</td>
        <td>{{ticket.epochStart | date:'medium'}}</td>
        <td><div *ngIf="ticket.epochEnd > 0">{{ticket.epochEnd | date:'medium'}}</div></td>
        <td><button class="btn btn-outline-dark" (click) = "getTicket(ticket.ticketId)">See Details</button></td>

    </tr>
</tbody>




<!-- <table >
    <thead></thead>
    <tbody>

        <tr>
            <td class="leftHeader">Ticket ID</td>          
            <td>{{ticket.ticketId}}</td>
            
        </tr>
        <tr>
            <td class="leftHeader">Client ID</td>
            <td>{{ticket.clientId}}</td>
         </tr>
        <tr>
            <td class="leftHeader">Description</td>
            <td>{{ticket.description}}</td>
        </tr>
        <tr>
            <td class="leftHeader">Date Submitted</td>
            <td>{{ticket.epochStart | date:'medium'}}</td>
            
        </tr>
        <tr>
            <td class="leftHeader">Date Completed</td>
        <td><div *ngIf="ticket.epochEnd > 0">{{ticket.epochEnd | date:'medium'}}</div></td>
        </tr>
         <tr>
            <td class="leftHeader">Comments</td>
            <td>{{ticket.comments}}</td>
         </tr>
         
    </tbody>

</table> -->



 <div class="ticketDetails">
<table>

    <thead></thead>
    <tbody>

        <tr>
            <td class="leftHeader">Ticket ID</td>          
            <td>{{ticket.ticketId}}</td>
            
        </tr>
        <tr>
            <td class="leftHeader">Client ID</td>
            <td>{{ticket.clientId}}</td>
         </tr>
        <tr>
            <td class="leftHeader">Description</td>
            <td>{{ticket.description}}</td>
        </tr>
        <tr>
            <td class="leftHeader">Date Submitted</td>
            <td>{{ticket.epochStart | date:'medium'}}</td>
        </tr>
        <tr>
            <td class="leftHeader">Date Completed</td>
            <td><div *ngIf="ticket.epochEnd > 0">{{ticket.epochEnd | date:'medium'}}</div></td>
        </tr>
        <tr>
            <td class="leftHeader"><h2>Comments: </h2></td>
         </tr>
         <tr *ngIf = "comments.length!=0; else elseBlock1"><th>Description</th><th>Time</th><th>User</th></tr>
         <ng-template #elseBlock1>
             No comments yet
         </ng-template>
         <tr *ngFor = "let comment of comments">
             <td>{{comment.cmnt}}</td>
             <td>{{comment.epochTime | date:'short'}}</td>
             <td>
                <div *ngIf="comment.clientId != null; else elseBlock">
                    Client: {{comment.clientId}}
                  </div>
                  <ng-template #elseBlock>
                    Tech: {{comment.techId}}
                  </ng-template>
    
                </td>

         </tr>
        <tr>
           
           <td><app-create-comment-dialog></app-create-comment-dialog></td>
        </tr>

         
    </tbody>
</table>
</div>


</div>

