<!-- #docregion dynamic-height -->
<mat-tab-group dynamicHeight>
    <!-- #enddocregion dynamic-height -->
      <mat-tab label="All Tickets">
        <div class="data-table mat-elevation-z4">
          <app-tech-ticket-table></app-tech-ticket-table>
        </div>
      </mat-tab>
      <mat-tab label="My Assigned Tickets">
        <div class="data-table mat-elevation-z4">
          <app-tech-ticket-details-table></app-tech-ticket-details-table>
        </div>
      </mat-tab>
    </mat-tab-group>
    