
.data-table {
    height: 800px;
    width: 60%;
    overflow: auto;
  }
  

table {
    width: 100%;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 0.1fr 1.7fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "ticketsTable ticketsTable ticketsTable . ."
      "ticketsTable ticketsTable ticketsTable . ticketDetails"
      ". . . . .";
  }
  .ticketsTable { grid-area: ticketsTable; }
.ticketDetails { grid-area: ticketDetails; }

