
.data-table {
    height: 800px;
    width: 60%;
    overflow: auto;
  }
  

table {
    width: 100%;
  }
  .mat-row {
    height: auto;
  }
  .mat-row:hover{
    background-color:#B39DDB;
  }
  
  .mat-cell {
    padding: 8px 50px 8px 0;
  }
  .mat-header-row{
    background-color: #FFE57F;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 0.1fr 1.7fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "ticketsTable ticketsTable ticketsTable . ticketDetails"
      "ticketsTable ticketsTable ticketsTable . ."
      ". . . . .";
  }
  .ticketsTable { grid-area: ticketsTable; }
.ticketDetails { grid-area: ticketDetails; }

.pointer {
  cursor: pointer;
  background-color: #D1C4E9;
  
}