<p>tech-ticket-table works!</p>

<div class="grid-container">
    <div class="ticketsTable">
        <button (click)="refreshTickets()">Refresh Table</button>
<table>

    <thead><th>ClientID</th><th>ID</th><th>Priority</th><th>Description</th><th>Date Submitted</th><th>Date Completed</th><th>See Details</th><th>Assign</th></thead>
<tbody>
    <tr *ngFor="let ticket of tickets">
        <td>{{ticket.clientId}}</td>
        <td>{{ticket.ticketId}}</td>
        <td>{{ticket.priority}}</td>
        <td>{{ticket.description}}</td>
        

        <td>{{ticket.epochStart | date:'medium'}}</td>
        <td><div *ngIf="ticket.epochEnd > 0">{{ticket.epochEnd | date:'medium'}}</div></td>

      <td><button  (click) = "getTicket(ticket.ticketId)">See Details</button></td>
        <td><button (click) = "assignTicket(ticket.ticketId)">Assign</button></td>

    </tr>
</tbody>
</table>

    </div>
    <div class="ticketDetails">
        <h2>Select a Ticket to View Details</h2>
        <table >
            <thead></thead>
            <tbody>
        
                <tr>
                    <td class="leftHeader">Ticket ID</td>          
                    <td>{{ticket.ticketId}}</td>
                    
                </tr>
                <tr>
                    <td class="leftHeader">Client ID</td>
                    <td>{{ticket.clientId}}</td>
                 </tr>
                <tr>
                    <td class="leftHeader">Description</td>
                    <td>{{ticket.description}}</td>
                </tr>
                <tr>
                    <td class="leftHeader">Date Submitted</td>
                    <td>{{ticket.epochStart | date:'medium'}}</td>
                </tr>
                <tr>
                    <td class="leftHeader">Date Completed</td>
                    <td><div *ngIf="ticket.epochEnd > 0">{{ticket.epochEnd | date:'medium'}}</div></td>

                </tr>
                 <tr>
                    <td class="leftHeader">Comments</td>
                 </tr>
                 <tr *ngFor = "let comment of comments">
                     <td></td>
                     <td>{{comment.cmnt}}</td>
                     <td>{{comment.epochTime | date:'medium'}}</td>
                     <td>
                        <div *ngIf="comment.clientId != null; else elseBlock">
                            Client: {{comment.clientId}}
                          </div>
                          <ng-template #elseBlock>
                            Tech: {{comment.techId}}
                          </ng-template>
            
                        </td>

                 </tr>
                 <tr>
                    
                    <td><app-create-comment-dialog></app-create-comment-dialog></td>
                 </tr>
                 
            </tbody>
        </table>
        
        
    </div>




</div>