<p>tech-ticket-table works!</p>
<table>

    <thead><th>ClientID</th><th>ID</th><th>Description</th><th>Date Submitted</th><th>Date Completed</th></thead>
<tbody>
    <tr *ngFor="let ticket of tickets">
        <td>{{ticket.clientId}}</td>
        <td>{{ticket.ticketId}}</td>
        <td>{{ticket.description}}</td>
        <td>{{ticket.epochStart}}</td>
        <td>{{ticket.epochEnd}}</td>
        <td><input type="text" id="tech-response" name="lname"></td>
    </tr>
</tbody>
</table>
<button (click)="refreshTickets()">Refresh Tickets</button>
