
<div class="grid-container">
    <div class="ticketsTable">
        <button mat-raised-button color="accent" (click)="refreshTechs()">Refresh Technicians</button>

        <table mat-table [dataSource]="technicians">
    
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let technician">{{technician.id}}</td>
            </ng-container>
        
            <ng-container matColumnDef="dispname">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let technician">{{technician.displayName}}</td>
            </ng-container>
            
            <ng-container matColumnDef="uname">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let technician">{{technician.userName}}</td>
            </ng-container>
            
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let technician">{{technician.type}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class = "pointer" (click) = getTicketsOfTech(row.id)></tr>
            
        </table>
    </div>

    <div class="ticketDetails">

        <table mat-table [dataSource]="tickets">
        
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Ticket ID</th>
                <td mat-cell *matCellDef="let ticket">{{ticket.ticketId}}</td>
            </ng-container>
            
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let ticket">{{ticket.description}}</td>
            </ng-container>
            
            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>Date Submitted</th>
                <td mat-cell *matCellDef="let ticket">{{ticket.epochStart | date:'shortDate'}}</td>
            </ng-container>
            
            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>Date Completed</th>
                <td mat-cell *matCellDef="let ticket">                    
                <div *ngIf="ticket.epochEnd>0; else elseBlock">
                    {{ticket.epochEnd | date:'shortDate'}}
                  </div>
                  <ng-template #elseBlock>
                    Pending
                  </ng-template></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2" class = "pointer"></tr>
            
        </table>

    </div>
  </div>



