<div class = "grid-container">

<div class="ticketsTable">
<button (click)="refreshTickets()">Refresh Tickets</button>
<table>

    <thead><th>ClientID</th><th>ID</th><th>Priority</th><th>Description</th><th>Date Submitted</th><th>Date Completed</th><th>Escalate</th><th>Close</th></thead>
<tbody>
    <tr *ngFor="let ticket of tickets"(click)="getTicket(ticket.ticketId)" class = "pointer">
        <td>{{ticket.clientId}}</td>
        <td>{{ticket.ticketId}}</td>
        <td>{{ticket.priority}}</td>
        <td>{{ticket.description}}</td>
        <td>{{ticket.epochStart | date:'shortDate'}}</td>
        <td>
            <div *ngIf="ticket.epochEnd>0; else elseBlock">
                {{ticket.epochEnd | date:'shortDate'}}
              </div>
              <ng-template #elseBlock>
                Pending
              </ng-template>

            </td>
        <td><button (click) = "escalateTicket(ticket)" class = "pointer">Escalate</button></td>
        <td><button (click) = "closeTicket(ticket)"class = "pointer">Close</button></td>
        
  
    </tr>
</tbody>
</table>
</div>

<div class="ticketDetails">
    <h2>Select a Ticket to View Details</h2>
    <table >
        <thead></thead>
        <tbody>
            <tr><td><app-assign-ticket-dialog></app-assign-ticket-dialog></td><td><app-create-comment-dialog></app-create-comment-dialog></td></tr>
    
            <tr>
                <td class="leftHeader">Ticket ID</td>          
                <td>{{ticket.ticketId}}</td>
                
            </tr>
            <tr>
                <td class="leftHeader">Client ID</td>
                <td>{{ticket.clientId}}</td>
             </tr>
            <tr>
                <td class="leftHeader">Description</td>
                <td>{{ticket.description}}</td>
            </tr>
            <tr>
                <td class="leftHeader">Date Submitted</td>
                <td>{{ticket.epochStart | date:'medium'}}</td>
            </tr>
            <tr>
                <td class="leftHeader">Date Completed</td>
                <td>
                    <div *ngIf="ticket.epochEnd>0; else elseBlock">
                        {{ticket.epochEnd | date:'medium'}}
                      </div>
                      <ng-template #elseBlock>
                        Pending
                      </ng-template>
        
                    </td>

            </tr>
             <tr>
                <td class="leftHeader"><h2>Comments: </h2></td>
             </tr>
             <tr *ngIf = "comments.length!=0; else elseBlock1"><th>Description</th><th>Time</th><th>User</th></tr>
             <ng-template #elseBlock1>
                 No comments yet
             </ng-template>
             <tr *ngFor = "let comment of comments">
                 <td>{{comment.cmnt}}</td>
                 <td>{{comment.epochTime | date:'short'}}</td>
                 <td>
                    <div *ngIf="comment.clientId != null; else elseBlock">
                        Client: {{comment.clientId}}
                      </div>
                      <ng-template #elseBlock>
                        Tech: {{comment.techId}}
                      </ng-template>
        
                    </td>

             </tr>
             <tr>
                
                
             </tr>
             
        </tbody>
    </table>
    
    
</div>

</div>

